.login {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo {
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.login-logo img {
    height: 200px;
    width: 200px;
}

.asteriskField {
    display: none;
}