body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: rgb(78, 78, 121); */
    font-family: cursive;
}

* {
    margin: 0;
    padding: 0;
}


/* landing page */

.alert {
    margin: 0;
    width: 100vw;
}

header {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.alert {
    background-color: rgb(15, 15, 20);
    width: 100vw;
    color: rgb(245, 245, 247);
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5rem;
}

.navbar-brand span {
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(84, 78, 104, 90);
}

.landing-page {
    width: 100vw;
    height: 100%;
    /* margin-top: 4px; */
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    /* background: black; */
    /* align-items: stretch; */
    height: auto;
    text-align: center;
    height: auto;
    width: 100%;
}

.landing-page img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    margin-top: -10vh;
    width: 100%;
}

@media screen and (max-width) {}


/* ends */


/* section1*/


/* ends */


/* cart.html */


/* ends */