body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(78, 78, 121);
    font-family: cursive;
}


/* landing page */

.alert {
    background-color: rgb(15, 15, 24);
    width: 100vw;
    color: rgb(245, 245, 247);
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5rem;
}

.navbar-brand span {
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(84, 78, 104, 90);
}

.landing-page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient( to top, rgb(245, 245, 247) -10%, rgba(84, 78, 104, 0) 9%), url("../static/image/jakob-owens-Rkfpms9o5fk-unsplash_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ends */


/*  section1*/


/* ends */


/* cart.html */

.img-product-details img {
    height: 70vh;
}


/* ends */