@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap");
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: rgb(78, 78, 121); */
    font-family: "Hind Madurai", cursive;
}

* {
    margin: 0;
    padding: 0;
}


/* landing page */

.alert {
    margin: 0;
    width: 100vw;
}

header {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.alert {
    background-color: rgb(15, 15, 20);
    color: rgb(245, 245, 247);
}

.navbar-brand {
    font-weight: 900;
    font-family: "Ubuntu";
    font-size: 1.5rem;
}

.navbar-brand span {
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(68, 68, 139);
}

.landing-page {
    width: 100vw;
    height: auto;
    margin-top: 30vh;
    /* margin-bottom: 15vh; */
}

.wrapper {
    /* background: black; */
    /* align-items: stretch; */
    font-weight: 500;
    text-align: center;
    height: 100%;
    width: 100%;
}

.wrapper h1 {
    font-family: "Ubuntu";
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.wrapper h5 {
    /* font-family: cursive; */
    font-weight: 500;
}

.landing-page img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    margin-top: -10vh;
    width: 100%;
}

.icons .fa {
    font-size: 20px;
    width: 40px;
}

.icons .fa:hover {
    background: rgb(68, 68, 139);
    /* width: 40px; */
    border-radius: 9px;
}

.btn {
    color: #fff;
    background-color: rgb(12, 3, 5);
}


/* ends */


/* section1*/

.section1 {
    margin-top: 10px;
    height: auto;
    width: 100%;
}


/* ends */


/* section2 */

.section2 {
    width: 100%;
    height: auto;
    margin-top: 20vh;
}

.box-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 20px;
    border: 5px solid rgb(68, 68, 139);
    animation: boxtweak 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    /* transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s; */
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.section2 .container {
    height: auto;
}

@keyframes boxtweak {
    75% {
        border: none;
        transition: border ease-in-out 5s;
    }
    100% {
        border: none;
        transition: border cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s;
    }
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
}


/* ends */


/* section 3 */

.section3 {
    width: 100%;
    height: auto;
}

.section3-wrapper {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1;
    align-items: center;
    justify-content: center;
}

.boxs {
    /* background: rgb(68, 68, 139); */
    height: 150px;
    margin: 5px;
    width: 150px;
}

.section3-text {
    font-size: 2rem;
    font-weight: 900;
}

.section3-text2 {
    font-size: 1rem;
}

.section3-wrapper .box1 {
    background: url("/static/logo/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box2 {
    background: url("/static/logo/2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box3 {
    background: url("/static/logo/3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box4 {
    background: url("/static/logo/4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box5 {
    background: url("/static/logo/5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box6 {
    background: url("/static/logo/6.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box7 {
    background: url("/static/logo/7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section3-wrapper .box8 {
    background: url("/static/logo/8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* footer */

.footer {
    margin-top: 5vh;
    height: auto;
    display: flex;
    background-color: rgb(12, 3, 5);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1;
}

.footer-box1,
.footer-box2,
.footer-box3 {
    background: rgb(12, 3, 5);
    text-align: center;
    margin: 10px;
    height: 300px;
}

.footer-box1 {
    color: #fff;
    text-align: center;
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box1 h4 {
    font-size: 2rem;
    padding: 5px;
}

.footer-box2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box2-mini {
    width: 50%;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box2-mini li,
.box2-mini2 li {
    list-style-type: none;
}

.box2-mini2 {
    width: 50%;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box3 {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* remove annoying asterisk*/

.asteriskField {
    display: none;
}


/* ends */


/* ends */