{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>{% block title %}Join Us Today {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'register.css' %}" />
</head>

<body>
    <div class="alert mb-0" role="alert">
        <div class="row d-flex">
            <div class="col-sm-6 col-md-6">
                <div class="phone text-success">
                    <i class="fa mr-2 fa-phone" aria-hidden="true"></i>
                    <span>+2348116336975</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="icons text-center">
                    <i class="fa mr-3 fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa mr-3 fa-twitter" aria-hidden="true"></i>
                    <i class="fa mr-3 fa-github" aria-hidden="true"></i>
                    <i class="fa mr-3 fa-bitbucket" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ml-2" href="{% url 'home' %}">SHOP<span>ERZ</span>
        </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link text-white" href="#">Track Order</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="#">Store</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="{% url 'contact' %}">Contact</a
              >
            </li>

            <li class="nav-item mr-5">
              <a class="nav-link text-white" href="{% url 'cart' %}"
                >Cart
                <i class="fa fa-cart-plus" aria-hidden="true">
                  <sup class="bg-success sup" style="font-size: 20px"
                    >{{counter}}</sup
                  >
                </i>
              </a>
                    </li>
                    {% if request.user.is_authenticated %}

                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="{% url 'profile' %}">{{request.user}}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Logout</a>
                    </li>
                    {% endif %} {% if not request.user.is_authenticated %}

                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <!-- header ends -->

    <div class="register">
      <div class="reg-wrapper">
        <h3 class="text-center mb-2">Create An Account</h3>
        <form
          enctype="multipart/form-data"
          method="post"
          class="text-dark"
          method="POST"
        >
          <div class="form-row row">
            <div id="email" class="form-group col mb-0">
              {{ formss.first_name|as_crispy_field }}
            </div>

            <div class="form-group col mb-0">
              {{ formss.last_name|as_crispy_field }}
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col mb-0">
              {{ formss.email|as_crispy_field }}
            </div>
            <div class="form-group col mb-0">
              {{ formss.phone_number|as_crispy_field }}
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col mb-0">
              {{ formss.username|as_crispy_field }}
            </div>
          </div>
          <div class="form-row row">
            <div class="form-group col mb-0">
              {{ formss.password1|as_crispy_field }}
            </div>
            <div class="form-group col mb-0">
              {{ formss.password2|as_crispy_field }}
            </div>
          </div>
          {% csrf_token %}
          <div class="text-center mt-3">
            <button class="btn" id="u" type="submit">Submit</button>
          </div>
        </form>
        <div
          class="
            mt-2
            d-flex
            text-center
            align-items-center
            justify-content-center
          "
        >
          <div class="col-6">
            Already own an Account?
            <a
              href="{% url 'login' %}"
              class="text-decoration-none"
              rel="noopener noreferrer"
              >Login</a
            >
          </div>
          <div class="col-6">
            <a href="" class="text-decoration-none" rel="noopener noreferrer">
              Forgot Password?</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- alert messages -->
    <!-- Button trigger modal -->

    <!-- Trigger/Open The Modal -->

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        {% for i in messages %}

        <p id="myBtn">{{i}}</p>
        {% if errors %}

        <p>{{errors}}</p>
        {% endif %} {% endfor %}
      </div>
    </div>

    <!-- ends -->

    <!-- ends -->
  </body>

  <script src="{% static 'register.js' %}"></script>
</html>